<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Data_Driven_Testing.ByUsing_ApachePoi"/>
      <class name="TestNGDemo.TestAnnotation"/>
      <class name="crossBrowsertestCase.Verify_Browser"/>
      <class name="AnnotationsPkg.TestAnnotations"/>
      <class name="TestNGDemo.StaticClassMethod"/>
      <class name="Listener.ListnerTest"/>
      <class name="TestNGDemo.SignUp"/>
      <class name="TestNGDemo.ExceptionHandle"/>
      <class name="Listener.ListnerTestngDemo"/>
      <class name="Assertion.HardAssert_Demo"/>
      <class name="Reflection.LaunchBrowser"/>
      <class name="TestNGDemo.ClassA"/>
      <class name="TestNGDemo.Smoke"/>
      <class name="UsingApachePoi.TestcaseforReadFile"/>
      <class name="Testcases.SampleTest"/>
      <class name="TestNGDemo.ClassC"/>
      <class name="TestNGDemo.ClassB"/>
      <class name="TestNGDemo.TestAutomation"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
